/* prevent namespace collision with left-column */
.mediatool-left-column {
    width: 490px;
    float: left;
    margin-left: 20px;
}

.media-controls {
    text-align: center;
    width: 100%;
}

.btn-media {
    width: 33%;
}

.playspeedbuttons {
	width: 25%;
	margin-left: 0px !important;
}

.btn-media-small {
    width: 33%;
    margin-left: 0px !important;
}

.media-span {
    width:75%;
    margin-left: 0px;
}

.sentence-media-span {
    width: 100%;
    margin-left: 0px;
}

.sentence-btn-media {
    width: 25%;
}

.current-segment-active {
	background-color:rgba(0,128,128,0.3);
}

.current-token-active {
	background-color: rgba(128,0,128,0.5);
}

.current-caption-active {
    background-color:rgba(255,215,0,0.5);
}

.token {
	font-family: "Georgia";
}

span {
	word-wrap: normal;
	display: inline-block;
}

.quality-1 {
    background-color: red;
}

.quality-2 {
    background-color: yellow;
}

.quality-3{
    background-color: blue;
}

.quality-4 {
    background-color: green;
}

.edit-area {
	overflow: auto;
	height: 500px;
	word-wrap:break-word;
}

.sentence-edit-area {
    overflow: auto;
    height: 534px;
    word-wrap: break-word;
}

.edit-area-plaintext {
    overflow: auto;
    word-wrap: break-word;
}

.editing {
	font-weight: bold;
}

.segment {
	display: inline;
}

.hidden {
	display: none !important;
}

.caption-bold-active {
    font-weight: bold;
}

.caption-italics-active {
    font-style: italic;
}

.caption-underline-active {
    text-decoration: underline;
}


.bold-caption {
    font-weight: bold;
}

.italics-caption {
    font-style: italic;
}

.underline-caption {
    text-decoration:underline;
}

.btn-caption {
	padding: 4px 5px 4px;
	width: 50%;
}

.vttbackground {
    background-color: #FFF;
    overflow: auto;
    width: 100%;
}

.edit-input-box {
    background: transparent url('/mediatool/static/img/bg.jpg') no-repeat !important;
    color : #747862 !important;
    height:12px !important;
    border:0 !important;
    margin-bottom:0px !important;
}

.feedback-textarea {
    width: 100%;
}

.plaintext-textarea {
	
    width: 100%;
    padding: 0;
    border: none;
    margin-top: 6px;
    resize: none;
}

.media-progress {
    background-color: rgba(0,128,128,0.3);
}

.main-row {
	margin-left: 30px;
}

.special-bar {
	text-align: left !important;
	color: black !important;
	text-shadow: none !important;
}

.bordered {
    border-width:1px;
    border-style:solid;
}

.progress-compact {
    margin-bottom: 0px !important;
    height: 20px;
}

.trim-bottom {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    width: auto;
}

.score-controls {
    margin-top: 15px;
    width: auto;
}
.quickie-header {
	font-weight: bolder;
}

.auto-pause-controls {
	margin-left:0px !important;
}

.sentence {
    display: block;
}

.autopause-drop {
	width:100%;
}

.sentence-textarea {
	width: 470px;
	resize: none;
	margin-bottom: 2px;
}

.sentence-textarea-tall{
	width: 445px;
	resize: none;
	margin-bottom: 0px;
	margin-top: 3px;
	height: 5.5em;
}

.edit-area-plaintext .sentence_pre {
    height: 3.0em;
}

.edit-area-plaintext .sentence_post {
    height: 1.5em;
}

.edit-area-plaintext .sentence_now {
    height: 4em;
}

.mini-offset {
	margin-left: 33px
}

.sentence {
	width: 483px;
	background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-style:solid;
    border-width:1px;
    padding-bottom: 4px;
}

.toggle-time {   
    border-radius: 6px! important;
}

.filter-text {
   width: 45%;
   border-radius: 0px! important;
}

.sentence_now {
    background-color: rgba(246,243,169, 1.0) !important;
}

.media-ba {
	margin-bottom: 0px !important;
}


.bordered-row {
    border-style: solid;
    border-width: 2px;
}

.reject-feedback {
	width: 100%;
	resize: none;
}

.quality-info-msg {
	font-weight: bold
}

.quality-button {
	width: 15%;
}

.btn-group-label {
	font-weight: bold;
	color: rgba(9,45,233, .9);
	
}

.alert-default {
	color: #734130;
	background-color: #C9A47E;
	border-color: #734130;
}

.bold-highlight {
	font-weight:bold;
	background-color: yellow! important;
}

.sentence-bar-holder {
	width: 89%;
}

.time {
    vertical-align: top;
    padding-top: 6px;
    padding-left: 4px;    
}

.end-bar {
    width: 12%;
    text-align: center;
    background-color: rgba(199,245,232,0.7) !important;
}

.start-bar{
    width: 5%;
}

.time-point{
    font-size: 75%;
    width: 1px;
}

.pretty-clock {
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
}

.tter-on-clock {
	background-color: rgba(250, 125, 100, .6);
}

.tter-off-clock {
    background-color: rgba(75, 160, 100, .6);
}


.qc-score-fraud {
    background-color: #BD362F;
    color: white;
}

.qc-score-fraud:hover {
    background-color: #BD362F! important;
    border-color: #BD362F !important;
    color: white;
}

.qc-score-poor{
    background-color: #F89406;
    color: white;
}

.qc-score-poor:hover {
    background-color: #F89406!important;
    border-color: #F89406 !important;
    color: white;
}

.qc-score-good {
    background-color: #05C;
    color: white;
}

.qc-score-good:hover {
    background-color: #05C !important;
    border-color: #05C !important;
    color: white;
}

.qc-score-perfect{
    background-color: #51A351;
    color: white;
}

.qc-score-perfect:hover {
    background-color: #51A351!important;
    border-color: #51A351 !important;
    color: white;
}

.tter-hit-btn {
	width: 100%;
}

.short-time {
	width: 14%;
	border-bottom-right-radius: 3px !important;
       border-top-right-radius: 3px !important;
                 padding-right: 2px !important;
                  padding-left: 2px !important;
}

.timing-hover {
    font-weight:bold;
    font-size:85%
}

.sentence-wrapper {
    width: 94%;
    padding: 3px 0 0 5px;
    display: inline-block;
}

.sentence-text {
    text-decoration: none;
}

.title-row {
	border-style: solid;
	border-width: 2px;
	margin-left: 0px;
	background-color: #1C3A7A;
	color:white;
}

.downdent {
	margin-top: 5px;
}

.spacer {
	margin-left: 13px;
}

.mini-indent {
	margin-left: 5px;
}

.title-splitter {
	border-right: 1px;
	border-style: dotted;
	border-color: black;
}

.title-row h1 {
	text-align: center;
}

.squishy-span {
	margin-left: 0px;
	width: 175px;
}

.timing-mode {
	background-color: #BD362F! important;
}

.progress .bar {
    -webkit-transition: width .3s linear;
       -moz-transition: width .3s linear;
        -ms-transition: width .3s linear;
         -o-transition: width .3s linear;
            transition: width .3s linear;
}

.caption-preview {
	background-color: black! important;
	color: white;
	font-weight: bold;
	text-align: center;
}

.header1 {
	font-size: 24px;
	line-height: 36px;
    font-weight: bold;
}

.numeric-short {
	width:15px;
	text-align:center;
}

.qc-selected {
	color: rgba(25, 100, 200, 1.0);
    border-style: dashed;
}

.re-score {
	line-height: 6px! important;
}

.bad-timing {
	background-color: rgba(255,255,0,.8);
}

.sentence-edited {
    background-color: rgba(0, 150, 100, .2);
}

.original-work-data {
    padding-left: 10px;
}

.dim-background-tabs {
    background-color: #ccc;
 }

.rejection-warning {
    font-weight: bold;
    color: red;
}

.sentence-hover-area {
    width: 10px;
    float: right;
    margin: 3.5px 10px 0 0;
    cursor: pointer;
    cursor: hand; /* browser compatibility */
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}

.caret-rotation {
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.rotate-caret-up {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.caret-tooltip {
    float: right;
}

/* Implementing a red version of the bootstrap icons */
[class^="icon-time-red-"],
[class*=" icon-time-red-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-red.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-time-red-mod {
    background-position: -48px -24px;
}

.icon {
    width: 200px;
    height: 200px;
}

.edit-icon-btn {
    display: inline;
    padding: 0 0 0 5px;
}

.question.clear-bad-timing.icon-time-red-mod.activated {
    display: block !important;
    margin-top: 1px !important;
}

.question.set-bad-timing.icon-time.activated {
    display: block;
    margin-top: 1px;
}